<h1>New Article</h1>

<!--render partiel viewet _form.html.erb

Navngivnings konventionen er låst, partial views, skal altid
oprettes med underscore, men refereres uden underscore.
-->

<%= render "form", article: @article %>
